{% extends "base.html.twig" %}

{% block title %}Transaction Réussi {% endblock %}

{% block body %}

<h1>Bien Joué !</h1>
<h4 style="color: white">La transaction s'est bien passé ! Vous pouvez retrouver votre facture dans votre espace Client et dans votre boite mail !</h4>

{% endblock %}