.sb-sidenav-footer, #searchButton {
    background-color: #cb9d32 !important;
}

.navbar, .sb-sidenav-menu, #footer {
    background-color: black !important;
}

.nav, .navbar-brand, #card-title{
    font-family: 'Playfair Display SC', serif;
    font-size: x-large;
}

#MonCompte, #placeholderSearch, #footer{
    font-family: 'Playfair Display SC', serif;
    font-size: medium;
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link {
    color: antiquewhite;
}

a:hover{
    color: #cb9d32 !important;
}

#sidefooter{
    font-family: 'Playfair Display SC', serif;
    color: #271d0b;
}

#row{
    position: relative;
}

#robe{
    position: absolute;
    top: 68.5%;
    left: 16.5%;
    transform: translate(-50%,-50%);
}

main , body{
    background-color: #271d0b;
}

#layoutAuthentication_content{
    background: url("../images/lightwall.jpg") no-repeat;
    background-size: 100%;
}
h2{
    color:  antiquewhite;
    font-family: 'Playfair Display SC', serif;
}
#btnshop{ 
    background-color:  black !important;
    color: white;
    font-family: 'Playfair Display SC', serif;
}
#card-text ,h2{
    font-family: 'Playfair Display SC', serif;
    font-size: xx-large;
}