{% extends 'base.html.twig' %}

{% block title %}Cog Shop Accueil!{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1 class="mt-4 text-center py-5">WELCOME TO COG SHOP</h1>
        <div class="row text-center">
            <div class="col-xl-12 col-md-6">
                <h2>Cog-Shop est un site créer en 2020, par la société eponyme. Celle-ci est basée en France Métropole uniquement. 
                    Après une carrière en informatique, son créateur Victor Weiss créé Cog-Shop en 2020 afin de vente ses propres 
                    créations de vêtements steampunk. Aujourd'hui l'entreprise compte dix employés qui recréent les styles d'hier pour les modes de demain. 
                    Fils spirituel du grand génie Karl Lagarfeld, Victor Weiss commence à se faire un nom dans le monde de la mode et du prêt-à-porter.   
                </h2>
            </div>
        </div>
        <br>
        
        <br> 
        <br>
        <br>
        <div class="row text-center">
            <div class="col-xl-12 col-md-6">
                <h2>Cog-Shop est un site créer en 2020, par la société eponyme. Celle-ci est basée en France Métropole uniquement. 
                    Après une carrière en informatique, son créateur Victor Weiss créé Cog-Shop en 2020 afin de vente ses propres 
                    créations de vêtements steampunk. Aujourd'hui l'entreprise compte dix employés qui recréent les styles d'hier pour les modes de demain. 
                    Fils spirituel du grand génie Karl Lagarfeld, Victor Weiss commence à se faire un nom dans le monde de la mode et du prêt-à-porter.   
                </h2>
            </div>
        </div>

        <br>
        <div class="row text-center">
            <div class="col-xl-12 col-md-6">
                <h2>Cog-Shop est un site créer en 2020, par la société eponyme. Celle-ci est basée en France Métropole uniquement. 
                    Après une carrière en informatique, son créateur Victor Weiss créé Cog-Shop en 2020 afin de vente ses propres 
                    créations de vêtements steampunk. Aujourd'hui l'entreprise compte dix employés qui recréent les styles d'hier pour les modes de demain. 
                    Fils spirituel du grand génie Karl Lagarfeld, Victor Weiss commence à se faire un nom dans le monde de la mode et du prêt-à-porter.   
                </h2>
            </div>
        </div>

        <br>
        <div class="row text-center">
            <div class="col-xl-12 col-md-6">
                <h2>Cog-Shop est un site créer en 2020, par la société eponyme. Celle-ci est basée en France Métropole uniquement. 
                    Après une carrière en informatique, son créateur Victor Weiss créé Cog-Shop en 2020 afin de vente ses propres 
                    créations de vêtements steampunk. Aujourd'hui l'entreprise compte dix employés qui recréent les styles d'hier pour les modes de demain. 
                    Fils spirituel du grand génie Karl Lagarfeld, Victor Weiss commence à se faire un nom dans le monde de la mode et du prêt-à-porter.   
                </h2>
            </div>
        </div>

        <br>
        <div class="row text-center">
            <div class="col-xl-12 col-md-6">
                <h2>Cog-Shop est un site créer en 2020, par la société eponyme. Celle-ci est basée en France Métropole uniquement. 
                    Après une carrière en informatique, son créateur Victor Weiss créé Cog-Shop en 2020 afin de vente ses propres 
                    créations de vêtements steampunk. Aujourd'hui l'entreprise compte dix employés qui recréent les styles d'hier pour les modes de demain. 
                    Fils spirituel du grand génie Karl Lagarfeld, Victor Weiss commence à se faire un nom dans le monde de la mode et du prêt-à-porter.   
                </h2>
            </div>
        </div>

        <br>
        <div class="row text-center">
            <div class="col-xl-12 col-md-6">
                <h2>Cog-Shop est un site créer en 2020, par la société eponyme. Celle-ci est basée en France Métropole uniquement. 
                    Après une carrière en informatique, son créateur Victor Weiss créé Cog-Shop en 2020 afin de vente ses propres 
                    créations de vêtements steampunk. Aujourd'hui l'entreprise compte dix employés qui recréent les styles d'hier pour les modes de demain. 
                    Fils spirituel du grand génie Karl Lagarfeld, Victor Weiss commence à se faire un nom dans le monde de la mode et du prêt-à-porter.   
                </h2>
            </div>
        </div>
                        
{% endblock %}
