{% extends 'base.html.twig' %}

{% block title %}Cog Shop Accueil!{% endblock %}

{% block body %}

    <div class="container" id="background-accueil">
      <div class="row" id="row">
          <div class="col-12  pt-3 ">
            <figure class="" id="papi">
                <img src="images/papissteampunk.jpg" alt="steampunk" width="100%">
            </figure>
          </div>
          <div class="col-4 py-1 ">
          <img src="images/giphy.gif" alt="" width="100%">
          </div>
          <div class="col-8 py-1 ">
          <img src="images/lg-b-accessoire-steampunk.jpg" alt="" width="100%">
          </div>
          <div class=" col-4 pt-2" id="robe">
            <img src="images/robe2.gif" alt="" width="100%" height="100%" id="robe2" >
          </div>
        <div class="row justify-content-end px-2 py-3">
          <div class=" col-4" id="montre" >
          <img src="images/montre-gousset-steampunk-mécanique-bronze-spirale-face.jpg" width="100%">
          </div>
          <div class=" col-4">
          <img src="images/robe.gif" width="100%" >
          </div>
        </div>
        </div>
      </div>
                        
{% endblock %}
