{% extends 'base.html.twig' %}

{% block title %}Cog Shop A propos{% endblock %}

{% block body %}

    <section class="container-fluid text-center py-5 text-light" style="font-family: 'Playfair Display SC', serif; background-color: #271d0b;" >
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bold">A propos du site</h2>
                </div>
            </div><!--/row-->
        </div><!--/container-->
    </section>

    <!--A Propos-->
    <section class="container-fluid text-center py-2" style="font-family: 'Playfair Display SC', serif; font-size: 1.2em;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p style="font-family: 'Playfair Display SC', serif; font-size: 1em; color: #cb9d32 !important;" class="text-light">
                   Cog-shop fut créé en janvier 2020 pour le créateur de vêtements: <span class="font-weight-bold">Victor Weiss</span>. Très jeune, il révèle une AFFinité avec la mode. En 1954, il remporte le prix du Secrétariat international de la laine ex-æquo avec Yves Saint Laurent. Il fait ses classes chez Balmain et Patou puis comme indépendant. Il devient directeur artistique de la maison italienne Fendi à Rome en 1965, de la maison de haute couture Chanel en 1983, et de sa propre ligne peu après. En parallèle, dans les années 1970, il travaille également pour Chloé. Il reste à l'origine de l’engouement des collections capsules avec une première ligne dessinée pour H&M. </p>
                    <br><br>
		            <p class="text-light"><span class="font-weight-bold">Victor Weiss</span> est considéré comme l'inventeur du HTML en 1992. Il fut aidé à ses débuts par l'ingénieur et informaticien belge Robert Cailliau qui cosigna notamment avec lui, en novembre 1990, un document désormais entré dans l'Histoire et intitulé « <span class="font-weight-bold">WorldWideWeb</span> : Proposition pour un projet hypertexte ». En 2019, il décide de changer à nouveau de direction professionnelle pour se (re)lancer dans la confection et la vente de vêtements Steampunk en ligne. </p>
                </div>
            </div><!--/row-->
        </div><!--/container-->
    </section>

    <section class="container text-light text-center" style="font-family: 'Playfair Display SC', serif; font-size: 1.2em;">
            <h3 class="pb-4 justify-content-center pt-5 font-weight-bold">A Propos de nous</h3>
            <div class="row justify-content-center">
                <div class="col-4 pb-5 d-flex justify-content-center">
                
                    <div class="col-md-4 dropdown">
                        <button class="btn btn-warning mr-1 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Alex
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <h6 class="dropdown-header">Développeur-web Back-end</h6>
                            <div class="dropdown-divider"></div>
                            <p class="text-center"><img src="{{ asset('images/alexandre.jpg') }}" style="width:60%; "alt="Alex face"> <hr> 
                                Rejoignez-moi sur 
                                <a href="https://www.linkedin.com/in/alexandre-schaffhauser-076146196/" target="_blank" class="linkedin">LinkedIn</a>
                            </p> 
                        </div>
                    </div>
                    

                    <div class="col-md-4 dropdown">
                        <button class="btn btn-warning mr-1 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Karla
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <h6 class="dropdown-header">Développeur-web Full-Stack</h6>
                            <div class="dropdown-divider"></div>
                            <p class="text-center"><img src="{{ asset('images/karla.jpg') }}" style="width:60%;" alt="Karla face"><hr> 
                                Rejoignez-moi sur <a href="https://www.linkedin.com/in/karla-gergelov%C3%A1-05728346/" target="_blank" class="linkedin">LinkedIn</a>
                            </p> 
                        </div>
                    </div>

                    <div class="col-md-4 dropdown">
                        <button class="btn btn-warning mr-1 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Théo
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <h6 class="dropdown-header">Développeur-web Front-end</h6>
                            <div class="dropdown-divider"></div>
                            <p class="text-center"><img src="{{ asset('images/theo.jpg') }}" style="width:60%;" alt="Théo face"><hr> 
                                Rejoignez-moi sur <a href="https://www.linkedin.com/in/th%C3%A9o-grouselle-48a148196/" target="_blank" class="linkedin">LinkedIn</a>
                            </p> 
                        </div>
                    </div>

                    <div class="col-md-4 dropdown">
                        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Thibaut
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <h6 class="dropdown-header">Product Owner</h6>
                            <div class="dropdown-divider"></div>
                            <p class="text-center"><img src="{{ asset('images/thibaut.jpg') }}" style="width:60%;" alt="thibaut face"><hr> 
                                Rejoignez-moi sur <a href="https://www.linkedin.com/in/thibaut-datchy-251220197/" target="_blank" class="linkedin">LinkedIn</a>
                            </p> 
                        </div>
                    </div>

                </div>
            </div>  
    </section>



{# 
        <article>
            <h3>A propos du site</h3>
            <p>Cog-shop fut créé en Janvier 2020 pour le créateur de vêtements: <strong>Victor Weiss</strong>. Très jeune, il révèle une affinité avec la mode. En 1954, il remporte le prix du Secrétariat international de la laine ex-æquo avec Yves Saint Laurent. Il fait ses classes chez Balmain et Patou puis comme indépendant. Il devient directeur artistique de la maison italienne Fendi à Rome en 1965, de la maison de haute couture Chanel en 1983, et de sa propre ligne peu après. En parallèle, dans les années 1970, il travaille également pour Chloé. Il reste à l'origine de l’engouement des collections capsules avec une première ligne dessinée pour H&M.</p>
            <p><strong>Victor Weiss</strong> est considéré comme l'inventeur du HTML en 1992. Il fut aidé à ses débuts par l'ingénieur et informaticien belge Robert Cailliau qui cosigna notamment avec lui, en novembre 1990, un document désormais entré dans l'Histoire et intitulé « <strong>WorldWideWeb</strong> : Proposition pour un projet hypertexte ». En 2019, il décide de changer à nouveau de direction professionnelle pour se (re)lancer dans la confection et la vente de vêtements Steampunk en ligne. </p>
        </article> #}
        
   
{% endblock %}