{% extends 'base.html.twig' %}

{% block title %}Cog Shop A propos{% endblock %}

{% block body %}

    <section class="container-fluid text-center py-5 text-light" style="font-family: 'Playfair Display SC', serif; background-color: #271d0b;" >
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>A propos</h2>
                </div>
            </div><!--/row-->
        </div><!--/container-->
    </section>

    <!--A Propos-->
    <section class="container-fluid text-center py-5" style="font-family: 'Playfair Display SC', serif; font-size: 1.2em;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p style="font-family: 'Playfair Display SC', serif; font-size: 1em;">
                    Cog-Shop est un site créer en 2020, par la société eponyme. Celle-ci est basée en France Métropole uniquement. 
                    <br><br>
		            Après une carrière en informatique, son créateur Victor Weiss créé Cog-Shop en 2020 afin de vente ses propres créations de vêtements steampunk. Aujourd'hui l'entreprise compte dix employés qui recréent les styles d'hier pour les modes de demain. 
                    <br><br>
		            Fils spirituel du grand génie Karl Lagarfeld, Victor Weiss commence à se faire un nom dans le monde de la mode et du prêt-à-porter.   
                    </p>
                </div>
            </div><!--/row-->
        </div><!--/container-->
    </section>


    <section class="container bg-secondary text-light">
        <article>
            <h3>A Propos de nous</h3>
            <div class="row align-items-center">
                <div class="col-lg-4 offset-lg-4 d-flex">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Alex
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <h6 class="dropdown-header">Développeur-web Back-end</h6>
                            <div class="dropdown-divider"></div>
                            <p><img src="" alt="Alex face"><hr> 
                                Rejoignez-moi sur <a href="">LinkedIn</a>
                            </p> 
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Karla
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <h6 class="dropdown-header">Développeur-web Full-Stack</h6>
                            <div class="dropdown-divider"></div>
                            <p><img src="" alt="Karla face"><hr> 
                                Rejoignez-moi sur <a href="">LinkedIn</a>
                            </p> 
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Théo
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <h6 class="dropdown-header">Développeur-web Front-end</h6>
                            <div class="dropdown-divider"></div>
                            <p><img src="" alt="Théo face"><hr> 
                                Rejoignez-moi sur <a href="">LinkedIn</a>
                            </p> 
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Thibaut
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <h6 class="dropdown-header">Développeur-web Back-end</h6>
                            <div class="dropdown-divider"></div>
                            <p><img src="" alt="thibaut face"><hr> 
                                Rejoignez-moi sur <a href="">LinkedIn</a>
                            </p> 
                        </div>
                    </div>
                </div>
            </div>  
        </article>
        <article>
            <h3>A propos du site</h3>
            <p>Cog-shop fut créé en Janvier 2020 pour le créateur de vêtements: <strong>Victor Weiss</strong>. Très jeune, il révèle une affinité avec la mode. En 1954, il remporte le prix du Secrétariat international de la laine ex-æquo avec Yves Saint Laurent. Il fait ses classes chez Balmain et Patou puis comme indépendant. Il devient directeur artistique de la maison italienne Fendi à Rome en 1965, de la maison de haute couture Chanel en 1983, et de sa propre ligne peu après. En parallèle, dans les années 1970, il travaille également pour Chloé. Il reste à l'origine de l’engouement des collections capsules avec une première ligne dessinée pour H&M.</p>
            <p><strong>Victor Weiss</strong> est considéré comme l'inventeur du HTML en 1992. Il fut aidé à ses débuts par l'ingénieur et informaticien belge Robert Cailliau qui cosigna notamment avec lui, en novembre 1990, un document désormais entré dans l'Histoire et intitulé « <strong>WorldWideWeb</strong> : Proposition pour un projet hypertexte ». En 2019, il décide de changer à nouveau de direction professionnelle pour se (re)lancer dans la confection et la vente de vêtements Steampunk en ligne. </p>
        </article>
        
    </section>
{% endblock %}