{% extends 'base.html.twig' %}

{% block title %}Cog Shop A propos{% endblock %}

{% block body %}
 <!--A Propos-->
    <section class="container-fluid text-center py-5" style="font-family: 'Playfair Display SC', serif; font-size: 1.2em;">
        <div class="container">
        <article>
            <h2>A propos de l'équipe</h2><hr>
                <div class="row align-items-center">
                    <div class="col-lg-4 offset-lg-4 d-flex">
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Alex </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <h6 class="dropdown-header">Développeur-web Back-end</h6>
                                <div class="dropdown-divider"></div>
                                <p class="text-center"><img src="https://media-exp1.licdn.com/dms/image/C5603AQEsA4xOTvWBoQ/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=blhUoqtGJq8FhSGjGq_anKc43VvU2CdqCw1AOe4RYWA" alt="Alex face"><hr> 
                                    Rejoignez-moi sur <a href="https://www.linkedin.com/in/alexandre-schaffhauser-076146196/" class="linkedin">LinkedIn</a>
                                </p> 
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Karla </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <h6 class="dropdown-header">Développeur-web Full-Stack</h6>
                                <div class="dropdown-divider"></div>
                                <p class="text-center"><img src="https://media-exp1.licdn.com/dms/image/C4D03AQGYj5Jk9fR-uQ/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=DRmwqIPWRwS5cctGlsgnYrOskONZKFdWcT24c0ayq9s" alt="Karla face"><hr> 
                                    Rejoignez-moi sur <a href="https://www.linkedin.com/in/karla-gergelov%C3%A1-05728346/" class="linkedin">LinkedIn</a>
                                </p> 
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Théo </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <h6 class="dropdown-header">Développeur-web Front-end</h6>
                                <div class="dropdown-divider"></div>
                                <p class="text-center"><img src="https://media-exp1.licdn.com/dms/image/C5603AQF-4wZbGISw4A/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=IiPn6jGKNOaik9uM61UQfqik66s4FBV_MbAvDbsk7S0" alt="Théo face"><hr> 
                                    Rejoignez-moi sur <a href="https://www.linkedin.com/in/th%C3%A9o-grouselle-48a148196/" class="linkedin">LinkedIn</a>
                                </p> 
                            </div>
                        </div>
                        <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Thibaut </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <h6 class="dropdown-header">Product Owner</h6>
                            <div class="dropdown-divider"></div>
                            <p class="text-center"><img src="https://media-exp1.licdn.com/dms/image/C4D03AQG995btnfMf8Q/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=eP4r4uA9qYN9YIdYeCDfCpfHlon8Td5mbTKx72M8pOw" alt="thibaut face"><hr> 
                                Rejoignez-moi sur <a href="https://www.linkedin.com/in/thibaut-datchy-251220197/" class="linkedin">LinkedIn</a>
                            </p> 
                        </div>
                    </div>
                </div>
            </div>  
        </article>
        <article class="pt-5">
            <div class="row text-light">
                <div class="col-12" style="font-family: 'Playfair Display SC', serif; font-size: 1em; ">
                    <h2>A propos du site</h2>
                    <p>Cog-shop fut créé en Janvier 2020 pour le créateur de vêtements: <strong>Victor Weiss</strong>. Très jeune, il révèle une affinité avec la mode. En 1954, il remporte le prix du Secrétariat international de la laine ex-æquo avec Yves Saint Laurent. Il fait ses classes chez Balmain et Patou puis comme indépendant. Il devient directeur artistique de la maison italienne Fendi à Rome en 1965, de la maison de haute couture Chanel en 1983, et de sa propre ligne peu après. En parallèle, dans les années 1970, il travaille également pour Chloé. Il reste à l'origine de l’engouement des collections capsules avec une première ligne dessinée pour H&M.</p>
                    <p><strong>Victor Weiss</strong> est considéré comme l'inventeur du HTML en 1992. Il fut aidé à ses débuts par l'ingénieur et informaticien belge Robert Cailliau qui cosigna notamment avec lui, en novembre 1990, un document désormais entré dans l'Histoire et intitulé « <strong>WorldWideWeb</strong> : Proposition pour un projet hypertexte ». En 2019, il décide de changer à nouveau de direction professionnelle pour se (re)lancer dans la confection et la vente de vêtements Steampunk en ligne. </p>
                </div>
            </div><!--/row-->
        </article>
        </div><!--/container-->
    </section>

{% endblock %}