<footer class="py-4 bg-light mt-auto" id="footer">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Thibaut Misterlynx 2020</div>
            <div>
                <a href="{{ path('mentions') }}" class="text-warning">Privacy Policy</a>
                &middot;
                <a href="{{ path('mentions') }}" class="text-warning">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>