{% extends 'base.html.twig' %}

{% block title %}Cog Shop Histoire{% endblock %}

{% block body %}

    <section class="container-fluid text-center py-5 text-light" style="font-family: 'Playfair Display SC', serif; background-color: #271d0b;" >
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Histoire</h2>
                </div>
            </div><!--/row-->
        </div><!--/container-->
    </section>


    <!--1st section-->
    <section class="container-fluid text-center py-3 bg-light pt-5 ">
        <div class="container">
            <div class="row" style="font-family: 'Playfair Display SC', serif; font-size: 1em;">
                <div class="col-lg-12" id="textfondblanc">
                    <p>
                    Le steampunk est un courant essentiellement littéraire dont les intrigues se déroulent dans un xixe siècle dominé par la première révolution industrielle du charbon et de la vapeur (steam en anglais). Il s'agit d'une uchronie faisant référence à l'utilisation massive des machines à vapeur au début de la révolution industrielle puis à l'époque victorienne. On y retrouve l'utilisation de matériaux tels que le cuivre, le laiton, le bois et le cuir.
                    <br>
                    <br>
                    L'expression steampunk, qui signifie littéralement « punk à vapeur », parfois traduite par « futur à vapeur », est un terme inventé pour qualifier un genre de littérature né à la fin du XXe siècle (même si des origines peuvent être trouvées dans des récits de Jules Verne), dont l'action se déroule dans l'atmosphère de la société industrielle du XIXe siècle. Le terme a été forgé à la fin des années 1980 en référence au cyberpunk (terme apparu en 19841).
                    <br>
                    <br>
                    Le steampunk fait son apparition dans des œuvres littéraires fantastique, de fantasy, d'anticipation et certains sous-genres de la science-fiction. Il devient un genre littéraire, dont l'intitulé a été forgé par allusion au cyberpunk par les auteurs K. W. Jeter, Tim Powers et James Blaylock à titre de boutade2.
                    <br>
                    <br>
                    Le steampunk est développé par le cinéma, la musique, le dessin et par le mouvement "Do it yourself" . Des passionnés donnent vie à leur personnage grâce à des réalisations artisanales (costume, accessoires, décoration).
                </p>
                </div><!--/col-->
            </div><!--/row-->
        </div><!--/container-->
    </section>

    <!--second section-->
    <section class= "container-fluid text-center pt-5 pb-3 text-light" style="background-color: #271d0b;">
        <div class="container">
            <div class="row" style="font-family: 'Playfair Display SC', serif; font-size: 1em;">
                <div class="col-lg-12">
                    <p>
                    À l'origine, le steampunk est un genre littéraire dont 'Jules Verne', 'Albert Robida' ou 'H. G. Wells' fournissent les caractéristiques et l'esthétique de l'univers d'expression à travers leurs romans. L'univers des époques victoriennes et édouardienne d'avant la Première Guerre mondiale reste l'un des décors favoris du genre.
                    <br>
                    Par extension sont assimilés au genre du steampunk les récits qui se déroulent soit dans un futur, soit dans un présent uchronique alternatif , quand leur décor rappelle le design de l'environnement industriel du XIXe siècle ou que la société qu'ils décrivent ressemble à celle de l'époque édouardienne, socialement très rigide et cloisonnée.

                    L'esthétique steampunk est un monde n'ayant pas existé mais se basant sur un XIXe siècle où l'emploi de la vapeur devient plus présent et laisse de côté le pétrole et l'électricité.
                    
                    En un raccourci caricatural, on pourrait dire que le steampunk est un univers où les machines à vapeur auraient progressé au-delà de ce que nous connaissons et où l'humanité n'aurait pas éprouvé le besoin d'inventer les moteurs à combustion interne. L'esthétique de cette civilisation uchronique est très différente de la nôtre, puisque l'absence de pétrole entraîne celle des matières plastiques ainsi qu'un retard dans le développement de l'électricité et de l'informatique, ou leur absence pure et simple. Le décor s'inspire de l'architecture industrielle de la fin du XIXe siècle. L'industrie du charbon étant très développée, en parallèle avec celle de la métallurgie, le fer puddlé y tient lieu de matière première principale. De même, l'esthétique est souvent associée aux boiseries sombres et au laiton. Les engrenages complexes ou simplement décoratifs sont, eux aussi, souvent employés. En ce qui concerne les transports, l'avion et la voiture individuelle sont souvent en retrait, en faveur du dirigeable et du train.
                    <br>
                    <br>
                    
                </p>
                </div>
            </div><!--/row-->
        </div><!--/container-->
    </section>

    <!--second section-->
    <section class= "container-fluid text-center py-5 bg-light bg-light" >
        <div class="container">
            <div class="row" style="font-family: 'Playfair Display SC', serif; font-size: 1em;">
                <div class="col-lg-12">
                    <p>
                        L'allure vestimentaire est un mélange du siècle victorien et d'accessoires divers. Elle incorpore des éléments d'avant et après les deux guerres mondiales. L'esthétique vestimentaire steampunk se rapproche de la mode gothique, elle est aussi d'inspiration victorienne.

                        <br>
                        
                        <br>
                        
                        Tandis que l'ère de l'électronique tend vers la miniaturisation, l'élément esthétique fondamental du steampunk est son gigantisme. Cette technique, délibérément bloquée au stade de la machine à vapeur, produit des constructions démesurées, complexes et extravagantes de tuyauteries actionnées par des leviers et des claviers aussi nombreux que compliqués. Les véhicules à vapeur semblent souvent lourds et difficilement maniables, nécessitant une forte dépense d'énergie pour un rendement mécanique faible. Le héros classique dans ce genre d'univers est le mécanicien de génie.
                        
                        <br>
                        
                        <br>
                        
                        Toutefois, certains univers steampunks semblent posséder une avancée technique sur l'époque contemporaine. C'est le cas des « greffes mécaniques » dans le manga Fullmetal Alchemist ou dans des films comme Wild Wild West. La mécanique y est aussi mieux développée (l'araignée mécanique de Wild Wild West), tout comme les automates à vapeur.
                </p>
                </div>
            </div><!--/row-->
        </div><!--/container-->
    </section>

    

{% endblock %}