<main>
    <div class="container-fluid">
        <h1 class="mt-4">Welcome to Cog Shop</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Let's do this!</li>
        </ol>   
    </div>
</main>