{% extends "base.html.twig" %}

{% block title %}Cog Shop Mentions légales!{% endblock %}

{% block body %}

    <section class="container-fluid" style="color: #cb9d32 !important;">
        <h2 class="text-center" >MENTIONS LEGALES</h2>           
        <h3 class="text-center" >INFORMATIONS EDITORIALES</h3>
        <p><strong>Site</strong> : <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a><br />
        <strong>Propriétaire</strong> : Thibaut Datchy <br />
        <strong>Adresse du proriétaire</strong> : 204 avenue de Colmar<br />
        <strong>N° de téléphone du propriétaire</strong> : 0771741700 <br />                                                                              

        <strong>Responsable de publication</strong> : Thibaut Datchy – t.datchy@laposte.net<br />
        <strong>Webmaster</strong> : Karla Theo Alexandre Thibaut – t.datchy@laposte.net<br /> 
        <strong>Créateur du site</strong> : <a href='https://www.wf3cogshop.ovh'>wf3 groupe3</a><br />						 
        <h3 class="text-center" >NOUS CONTACTER</h3>
        <p>Thibaut Datchy vous offre la possibilité de correspondre avec ses services, dans le respect du référentiel Marianne. Cette charte interministérielle vise à garantir la qualité de l'accueil et promeut des valeurs telles que la courtoisie, l'accessibilité, la rapidité, la clarté des réponses mais aussi un esprit d'écoute, de rigueur et de transparence.</p>
        <h4 class="text-center">Pour vous aider dans vos échanges et trouver le bon interlocuteur :</h4>
        <ul><li>questions générales, demandes de renseignements ou compléments d'information : Thibaut Datchy – t.datchy@laposte.net</li>
        <li>fonctionnement du site, difficultés techniques, problème d'affichage ou de téléchargement, remarques et suggestions : Karla Theo Alexandre Thibaut – t.datchy@laposte.net</li></ul>           
        <h3 class="text-center" >PRESTATAIRE D'HEBERGEMENT</h3>
        <p>La politique du site <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a> est en conformité avec la loi n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.</p>
        <h4 class="text-center">Hébergement du site :</h4>
        <p>ovh<br />
        926 sise 2, rue Kellermann, 59100 Roubaix.</p>            
        <h3 class="text-center" >CONDITIONS GENERALES D'UTILISATION DU SITE ET DES SERVICES PROPOSES</h3>
        <p>L’utilisation du site <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a> implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a> sont donc invités à les consulter de manière régulière.</p>
        <p>Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par Thibaut Datchy, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.</p>
        <p>Le site <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a> est mis à jour régulièrement par Thibaut Datchy. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>           
        <h3 class="text-center" >LIMITATIONS DE RESPONSABLITES</h3>
        <p>Thibaut Datchy ne pourra être tenue responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a>, et résultant soit de l’utilisation d’un matériel non adapté ou défectueux, soit de l’apparition d’un bug ou d’une incompatibilité.</p>
        <p>Thibaut Datchy ne pourra également être tenue responsable des dommages indirects (tels par exemple qu’une perte de marché ou perte d’une chance) consécutifs à l’utilisation du site <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a>.</p>
        <p>Des espaces interactifs (possibilité de poser des questions dans l’espace contact) sont à la disposition des utilisateurs. Thibaut Datchy se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, Thibaut Datchy se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie…).</p>                  
        <h3 class="text-center" >POLITIQUE DE CONFIDENTIALITE</h3>
        <p>L'équipe du site <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a> est particulièrement attentive au respect des obligations légales de tout éditeur de site internet et suit les recommandations de la commission nationale de l'informatique et des libertés (CNIL).</p>
        <h4 class="text-center">Respect des lois en vigueur</h4>
        <p>Le site <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a> respecte la vie privée de l'internaute et se conforme strictement aux lois en vigueur sur la protection de la vie privée et des libertés individuelles. Aucune information personnelle n'est collectée à votre insu. Aucune information personnelle n'est cédée à des tiers. Les courriels, les adresses électroniques ou autres informations nominatives dont ce site est destinataire ne font l'objet d'aucune exploitation et ne sont conservés que pour la durée nécessaire à leur traitement.</p>
        <h4 class="text-center">Déclaration CNIL</h4>

        <p>Le site <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a> ne gère pas de données personnelles et n'a donc pas fait l'objet d'une déclaration à la CNIL.</p>
                        
        <h4 class="text-center">Cookies et données statistiques : traçabilité et profilage</h4>
        <p>Lors de leur navigation sur le site, les internautes laissent des traces informatiques. Cet ensemble d'informations est recueilli à l'aide d'un témoin de connexion appelé cookie qui peut contenir des informations à caractère personnel.</p>
        <p>Dans le but d'améliorer l'ergonomie, la navigation au sein du site, le contenu éditorial et le service aux internautes, l'outil gestionnaire des statistiques du site <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a> stocke des informations relatives au profil des internautes : équipement, navigateur utilisé, origine géographique des requêtes, date et heure de la connexion, navigation sur le site, fréquence des visites, etc. Ces données de connexion permettent des extractions statistiques et sont conservées pendant un an.</p>
        <p>Tout internaute a la possibilité de refuser l'enregistrement de ces données en modifiant la configuration du navigateur de son ordinateur qui autorise ou non l'enregistrement de cookies. Il vous est possible de les refuser ou de les supprimer sans que cela ait une quelconque influence sur votre accès aux pages du site. Pour vous opposer à l'enregistrement de cookies ou être prévenu avant d'accepter les cookies, nous vous recommandons la lecture de la rubrique d'aide de votre navigateur qui vous précisera la marche à suivre.</p>          
        <h4 class="text-center">Contenu embarqué depuis d’autres sites</h4>
        <p>Les articles de ce site peuvent inclure des contenus intégrés (par exemple des vidéos, images, articles…). Le contenu intégré depuis d’autres sites se comporte de la même manière que si le visiteur se rendait sur cet autre site.</p>
        <p>Ces sites web pourraient collecter des données sur vous, utiliser des cookies, embarquer des outils de suivis tiers, suivre vos interactions avec ces contenus embarqués si vous disposez d’un compte connecté sur leur site web.</p>
        <h4 class="text-center">Type de données personnelles collectées</h4>
        <p>noms, prenoms, adresse postale, adresse mail, </p>
        <h4 class="text-center">Utilisation de vos données</h4>
        <p>facturation, commande, newsletter</p>
        <h4 class="text-center"> Durées de stockage de vos données</h4>
        <p>18 mois</p>
        <h3 class="text-center" >DROITS D'AUTEUR ET DROITS DE REPRODUCTION DU CONTENU MIS EN LIGNE</h3>
        <h4 class="text-center">Droits de reproduction des documents publics ou officiels</h4>
        <p>Depuis la publication de l'ordonnance n° 2005-650 du 6 juin 2005 relative à la liberté d'accès aux documents administratifs et à la réutilisation des informations publiques, ces informations peuvent être réutilisées à d'autres fins que celles pour lesquelles elles ont été produites, et particulièrement les informations faisant l'objet d'une diffusion publique. Ces documents prévus pour une diffusion publique ne sont couverts par aucun droit d'auteur et peuvent donc être reproduits librement. Le graphisme, l'iconographie ainsi que le contenu éditorial demeurent la propriété de l'État, et, à ce titre, font l'objet des protections prévues par le Code de la propriété intellectuelle.</p>
        <p>L'article L.122-5 du code de la propriété intellectuelle pose le principe selon lequel, "lorsque l'oeuvre a été divulguée, l'auteur ne peut interdire la diffusion, même intégrale, par la voie de presse ou de télédiffusion, à titre d'information d'actualité, des discours destinés au public prononcés dans les assemblées politiques, (...), ainsi que dans les réunions publiques d'ordre politique et les cérémonies officielles".<br />
        C'est donc le cas notamment pour les discours et interventions publiques qui s'apparentent à une exception au droit d'auteur. De même, les documents publics ou officiels tels que les communiqués officiels ne sont couverts par aucun droit d'auteur, et peuvent en conséquence être reproduits librement.<br />
        Si la reprise de ces contenus de façon partielle ou intégrale est autorisée, elle doit être obligatoirement assortie de la mention du nom de l'auteur, de la source, et éventuellement d'un lien renvoyant vers le document original en ligne sur le site. La mention "© Thibaut Misterlynx - www.wf3cogshop.ovh" devra donc être indiquée.</p>
        <p>Tous les autres contenus présents sur le site sont couverts par le droit d'auteur. Toute reproduction est dès lors conditionnée à l'accord de l'auteur en vertu de l'article L.122-4 du Code de la propriété Intellectuelle.<br />
        Les informations reproduites ne doivent l'être qu'à des fins personnelles, associatives ou professionnelles ; toute diffusion ou utilisation à des fins commerciales ou publicitaires étant interdites.</p>
        <h4 class="text-center">Demande d'autorisation de reproduction des contenus</h4>
        <p>La demande devra préciser le contenu visé ainsi que la publication ou le site sur lequel ce dernier figurera. Une fois cette autorisation obtenue, la reproduction d'un contenu doit obéir aux principes suivants :</p>
        <ul><li>gratuité de la diffusion</li>
        <li>respect de l'intégrité des documents reproduits (aucune modification, ni altération d'aucune sorte)</li>
        <li>mention obligatoire : "© Thibaut Misterlynx - www.wf3cogshop.ovh - droits réservés". Cette mention pointera grâce à un lien hypertexte directement sur le contenu</li>
        <li>insertion d'une icône représentant le site internet</li></ul>
        <p>Les organismes sous tutelle ainsi que les autres ministères sont dispensés de cette demande d'autorisation sous réserve d'insertion de la mention : "© Thibaut Misterlynx - www.wf3cogshop.ovh - droits réservés". Cette mention pointera grâce à un lien hypertexte directement sur le contenu.</p>          
        <h3 class="text-center" >RESPONSABILITE FACE AUX LIENS VERS D'AUTRES SITES</h3>
        <p>Le site <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a> propose de nombreux liens vers d'autres sites, essentiellement des sites officiels (gouvernement, institutions, organismes publics, etc.) mais aussi vers des sites, français ou étrangers, d'associations, d'organismes professionnels du secteur éducatif ou d'entreprises partenaires sur des opérations ponctuelles.</p>
        <p>Chaque fois, il est systématiquement précisé vers quel site nous vous proposons d'aller. Ces pages, dont les adresses sont régulièrement vérifiées, ne font pas partie du site <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a> : elles n'engagent pas la responsabilité de la rédaction du site qui ne peut être tenue pour responsable des contenus vers lesquels ces liens pointent. Ils ne visent qu'à permettre à l'internaute d'accéder plus facilement à d'autres ressources documentaires sur le sujet consulté.</p>           
        <h3 class="text-center" >DEMANDE DE CREATION DE LIENS</h3>
        <h4 class="text-center">Création de liens vers le site <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a></h4>
        <p>Le site <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a> autorise, sans autorisation préalable, la mise en place de liens hypertextes pointant vers ses pages, sous réserve de :<br />
        <ul><li>ne pas utiliser la technique du lien profond, c'est-à-dire que les pages du site <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a> ne doivent pas être imbriquées à l'intérieur des pages d'un autre site, mais visibles par l'ouverture d'une fenêtre indépendante</li>
        <li>mentionner la source qui pointera grâce à un lien hypertexte directement sur le contenu visé</li></ul>
        Les sites qui font le choix de pointer vers <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a> engagent leur responsabilité dès lors qu'ils porteraient atteinte à l'image du site public.</p>           
        <h3 class="text-center" >DROIT APPLICABLE ET ATTRIBUTION DE JURIDICTION</h3>
        <p>Tout litige en relation avec l’utilisation du site <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a> est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.</p>           
        <h3 class="text-center" >ACCESSIBILITE DU SITE</h3>
        <p>Un soin tout particulier est pris pour rendre le site internet <a href='https://www.wf3cogshop.ovh' title='Thibaut Datchy - www.wf3cogshop.ovh'>www.wf3cogshop.ovh</a> le plus accessible possible, et tout particulièrement aux personnes ayant un handicap visuel. Les pages sont mises progressivement en conformité avec les recommandations du référentiel commun des critères d'accessibilité des services Internet de l'administration française pour respecter la loi n°2005-102 du 11 février 2005 pour l'égalité des droits et des chances, la participation et la citoyenneté des personnes handicapées.</p>
        <h3 class="text-center" >CREDITS</h3>
        <p>Ces mentions légales ont étés offertes par <a href='https://lafabrique2sites.net' rel='nofollow'>LaFabrique2Sites - création site internet pas cher</a>.</p>

    </section>

{% endblock %}
