{% extends 'base.html.twig' %}

{% block title %}Cog Shop Vetements femme{% endblock %}

{% block body %}
<h2>Shop</h2>
    <section class="container-fluid">
        <div class="row">
            <div class="col">
                <table id="shop" class="card" name="shop" style="width: 18rem;">
                    <thead class="border border-dark">
                        <tr>
                            <th><img src="" class="card-img-top" alt="imageDuProduit"></th>
                        </tr>
                    </thead>
                    <tbody class="card-body">
                        <tr>
                            <td class="card-title">  <hr></td>
                        </tr>
                        <tr>
                            <td class="card-text text-right"> €<br>
                            <a href="#" class="btn btn-primary">Voir le détail du produit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}