{% extends 'base.html.twig' %}

{% block title %}Cog Shop Vetements Homme{% endblock %}

{% block body %}
<div class="container-fluid">
 {% for produit in produits %}
        
    
    <article class="shadow rounded border p-4 mb-5">
        <div class="row">
          <div class="col-3">
            <img src="{{ produits.img  }}" class="img-fluid" alt="" srcset="">
            <a href=" {{ path("vetement['id']") }}"></a>
          </div>   
        </div>
    </article>
</div>
    {% endfor %}



{% endblock %}