{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h1 class="text-light text-center" id="h1single"></h1>

<section class="container-fluid">
    <div class="container">
       <div class="row">
        <div class="col-md-6 border border-dark bg-light">
            <h2 id="h2single" class="text-center p-2">{{produit.nom}}: </h2>
            <div class="px-5"><p id="psingle" >Description: {{produit.description}}</p><br>
              <p id="psingleprix" class="text-center"> Prix: {{ produit.prix }} €
              <a class="pl-5" href="#"><svg width="75" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><style>
     
                    .line-cart1 {animation:line-cart1-arrow 1s infinite;}
                    @keyframes line-cart1-arrow {
                        0%{transform: translate3d(0, -4px, 0);}
                        50%{transform: translate3d(0, 0, 0);}
                        100%{transform: translate3d(0, -4px, 0);}
                    }
               </style><path d="M7 9.7793H21.027L22.9752 23.8063M70.9009 23.8063H93.5L84.9279 65.8874H28.8198L22.9752 23.8063M22.9752 23.8063H42.8468" stroke="rgba(203,157,50,1)" stroke-width="4.0px"></path><path class="line-cart1" d="M56.8739 9V50.3018M56.8739 50.3018L45.1847 38.6126M56.8739 50.3018L68.5631 38.6126" stroke="rgba(203,157,50,1)" stroke-width="4.0px" stroke-linecap="round" style="animation-duration: 1.3s;"></path><circle cx="32.7162" cy="82.1487" r="8.57207" fill="#fff" stroke="rgba(203,157,50,1)" stroke-width="4.0px"></circle><circle cx="84.1486" cy="82.1487" r="8.57207" fill="#fff" stroke="rgba(203,157,50,1)" stroke-width="4.0px"></circle></svg></a>
               </p>
            </div>
          </div>
              <div class="col-md-6 border border-dark bg-light p-2">  
                <img src="{{asset('images/' ~ produit.img )}}"  alt="imageDuProduit" width="100%" >
           </div>  
        </div>  
    </div>
   
</section>
{% endblock %}