{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil test !{% endblock %}

{% block body %}
{% if app.user %}
    <p> Bonjour {{ app.user.pseudonyme }}, vous avez actuellement le role {{ app.user.roles[0] }}</p>
{% else %}
    <p>Bonjour ! </p>
{% endif %}
{% endblock %}