{% extends 'base.html.twig' %}

{% block title %}Cog Shop Contact{% endblock %}

{% block body %}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content" class="backgroundContact">
        <div class="container mt-5"  >
            <div class="row justify-content-center mt-5">
                <div class="col-md-7 mt-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5 mb-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Contact Us</h3></div>
                            <div class="card-body">
                                {% if form is defined %}
                                    {{ form_start(form) }}
                                    
                                    {{ form_end(form) }}
                                {% endif %}
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}